@import '../../../styles/vars.scss';

.main {
    padding: 2rem;
    @media ($tablet) {
        margin-left: 27rem;
    }
}

.title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    @media only screen and ($tablet) {
        font-size: 5rem;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
    & button {
        width: 140px;
        background-color: $bgAddBtn;
        &:hover {
            background-color: $bgAddBtnHover;
        }
    }
}

.list {
    display: flex;
    flex-direction: column-reverse;
    & :first-of-type div {
        border-bottom: 1px solid black;
    }
    & :nth-child(odd) div {
        background: $bgTableLigthGrey;
    }
}

.listTitle {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: -1px;
    & div {
        padding: .3rem;
        font-size: 1.4rem;
        text-align: center;
        line-height: 30px;
        border: 1px solid black;
        border-right: none;
        width: 120px;
        height: 36px;
        overflow: hidden;
        background-color: $bgTableGrey;
    }
}
.url {
    display: none;
    @media screen and ($tablet) {
        display: block;
    }
}

.flag {
    max-width: 70px;
    height: 36px;
    border-right: 1px solid black !important;
}

// .hamburger {
//     position: fixed;
//     top: 2.6rem; 
//     right: 2rem;
//     z-index: 3;
//     @media screen and ($tablet) {
//         display: none;
//     }
// }

.hamburger__container {
    position: fixed;
    top: 2.6rem; 
    right: 2rem;
    z-index: 2;
    @media screen and ($tablet) {
        display: none;
    }
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;

    &__line {
        display: block;
        width: 24px;
        height: 2px;
        background-color: #000;
        margin: 3px 0;

        &:first-child {
        margin-top: 0;
        }

        &:last-child {
        margin-bottom: 0;
        }
    }
}

.close {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;

  &__line {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #000;
    margin: -1px 0;
    transform-origin: center;
    transition: transform 0.2s ease-in-out;

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }

  &:hover {
    &__line {
      transform: scale(1.2);
    }
  }
}