@import '../../../styles/vars.scss';

.main {
    padding: 2rem;
    @media ($tablet) {
        margin-left: 27rem;
    }
}

.title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    @media only screen and ($tablet) {
        font-size: 5rem;
    }
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    & button {
        width: 140px;
        background-color: $bgAddBtn;
        &:hover {
            background-color: $bgAddBtnHover;
        }
    }
}

.hamburger__container {
  position: fixed;
  top: 2.6rem; 
  right: 2rem;
  z-index: 9999;
  @media screen and ($tablet) {
      display: none;
  }
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;

    &__line {
        display: block;
        width: 24px;
        height: 2px;
        background-color: #000;
        margin: 3px 0;

        &:first-child {
        margin-top: 0;
        }

        &:last-child {
        margin-bottom: 0;
        }
    }
}

.close {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;

  &__line {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #000;
    margin: -1px 0;
    transform-origin: center;
    transition: transform 0.2s ease-in-out;

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }

  &:hover {
    &__line {
      transform: scale(1.2);
    }
  }
}

// .dropdownContainer {
//   position: relative;
//   max-height: 10rem;
// }

// .dropdown {
//   padding: .5rem;
//   border-radius: 1rem;
//   font-size: 1.5rem;
//   margin-bottom: 1.5rem;
//   max-height: 10rem;
//   width: 59.9rem;
//   overflow-y: auto;
//   position: absolute;
//   top: 3.5rem;
//   left: 0;
//   background-color: white;
//   z-index: 1;
//   box-shadow: 1px 1px 5px #000;
//   &__item {
//     cursor: pointer;
//     margin-bottom: 0.5rem;
//     &:hover {
//       background-color: $bgTableGrey;
//     }
//   }
// }

.input {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 60rem;
}