@import "../../../../styles/vars.scss";

.wrapper {
  display: flex;
}

.contentContainer {
  margin: 1rem;
  margin-top: 2rem;
	padding: 1rem;
  @media ($tablet) {
    margin: 0;
    margin-left: 27rem;
  }
}

.title {
	font-size: 4rem;
	margin-top: 1rem;
}

.postsList {
	width: 100%;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	row-gap: 24px;
	font-size: 2rem;
	@media ($tablet) {
		flex-direction: row;
		column-gap: 32px;
		row-gap: 24px;
	}
}

.postsItem {
	padding: 20px;
	border: 1px solid #000000;
	border-radius: 10px;
	width: 100%;
	min-width: 170px;
	text-align: center;
	cursor: pointer;
	transition: all .3s ease;
	&:hover {
		background-color: $bgTableLigthGrey;
		transform: scale(1.1);
	}
}

.hamburger__container {
  position: fixed;
  top: 1.7rem; 
  right: 1.7rem;
  z-index: 9999;
  @media screen and ($tablet) {
    display: none;
  }
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;

    &__line {
        display: block;
        width: 24px;
        height: 2px;
        background-color: #000;
        margin: 3px 0;

        &:first-child {
        margin-top: 0;
        }

        &:last-child {
        margin-bottom: 0;
        }
    }
}

.close {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;

  &__line {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #000;
    margin: -1px 0;
    transform-origin: center;
    transition: transform 0.2s ease-in-out;

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }

  &:hover {
    &__line {
      transform: scale(1.2);
    }
  }
}