@import "../../../styles/vars.scss";

.commentWrapper {
	margin-top: 20px;
	padding: 15px;
	width: 100%;
	border-radius: 10px;
	background-color: $bgTableLigthGrey;
	font-size: 1.5rem;
	display: flex;
}

.right {
	margin-left: 10px;
	width: 100%;
}

.nick {
	font-weight: bold;
}

.comment {
	margin-top: 10px;
	border: none;
	border-radius: 10px;
	width: 100%;
	padding: 10px;
	resize: none;
	height: 100px;
	&:focus {
		outline: 1px solid $blue;
	}
}

.bottom {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

